<div class="container">
  <div class="row"><h2 class="pl-3">Košarica</h2></div>

  <div *ngIf="cartSum === 0">Košarica je prazna</div>
  <table class="table table-striped table-dark mt-3" *ngIf="cartSum !== 0">
    <thead>
      <tr class="text-center">
        <th scope="col">Naziv</th>
        <th scope="col">Količina</th>
        <th scope="col">Cijena</th>
        <th scope="col">Akcije</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartProducts">
        <td>{{ product?.name }}</td>
        <td>{{ product?.amount }}</td>
        <td>{{ product?.price }} kn</td>
        <td>
          <button
            class="btn btn-danger ml-2"
            (click)="deleteCartProduct(product.itemId)"
          >
            Obriši iz košarice
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <b>Ukupno: {{ cartSum }} kn</b>
  </div>

  <button class="btn btn-success" (click)="order()" *ngIf="cartSum !== 0">
    Naruči
  </button>
</div>
